.jumbotron-fluid {
    background-image: url('../assets/img/searchwallpaper.jpg' );
    background-size: 100% 100%;
    /* height: 100%; */
}
#gradient {
    position: absolute;
    height: 100%;
    z-index: -1000;
    bottom: 0;
    background-image: linear-gradient(0deg, rgb(152,175,193), rgb(195,207,219));
  }